@model IEnumerable<BllodSugarTester.Models.BloodSugars>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "DisplayNumbers";
}

<h2>DisplayNumbers</h2>
<div id='displayed'>

    @foreach (var info in Model)
    {
        if (info.UserId == User.Identity.GetUserId())
        {
            
    
            <p>@info.BloodSugar, at @info.Time, on @info.Date</p>
       
            }
        }
    

</div>
<div>
    <input onclick="month()" type="submit" id="unittts" class="btn btn-default" value="Submit">
</div>
<script >
    function month() {


        $('#displayed').append(
            "<tr>" +
            "<td>" + tested()+ "</td>"

            + "</tr>"
            );

    }


    function tested() {
       
           @foreach (var info in Model)
           {
               
               if (info.UserId == User.Identity.GetUserId())
               {


                   @info.BloodSugar.ToString();
                   
                   @*@info.Time.ToString();*@
                  @info.Date.ToString();
                       

               }

           }
           
    }
</script>